
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Shizuru&display=swap" rel="stylesheet">
        <title>Product List</title>
	</head>
	<body>
		<a style = "background-color:black; font-size: 30px; text-decoration: none; color:white;" href="/products/new">Add a New Product</a>
        <h1>Sporting Goods</h1>
        <div class= "ul-container">
        <ul>
            <%products.forEach(product => { %>
                <li class= "li-container"><%=product.name; %> </a><br>
                    <a href="/products/<%=product._id%>"> <img src=" <%=product.img; %>" alt=""></a> <br>
                    <% }) %>
                
                </li>
        </ul>
	</body>
</html>